@import "tailwindcss";
@plugin "@tailwindcss/forms";

@layer base {
  [type='text']:focus,
  [type='email']:focus,
  [type='url']:focus,
  [type='password']:focus,
  [type='number']:focus,
  [type='date']:focus,
  [type='datetime-local']:focus,
  [type='month']:focus,
  [type='search']:focus,
  [type='tel']:focus,
  [type='time']:focus,
  [type='week']:focus,
  [multiple]:focus,
  textarea:focus,
  select:focus {
    --tw-ring-color: #a5b4fc;
    border-color: #a5b4fc;
  }
  [type="checkbox"]:focus,
  [type="radio"]:focus {
    --tw-ring-color: #a5b4fc;
  }
}
