@import "tailwindcss";
@import "./tokens.css";
@plugin "@tailwindcss/forms";

@layer base {
	[type="text"]:focus,
	[type="email"]:focus,
	[type="url"]:focus,
	[type="password"]:focus,
	[type="number"]:focus,
	[type="date"]:focus,
	[type="datetime-local"]:focus,
	[type="month"]:focus,
	[type="search"]:focus,
	[type="tel"]:focus,
	[type="time"]:focus,
	[type="week"]:focus,
	[multiple]:focus,
	textarea:focus,
	select:focus {
		--tw-ring-color: var(--color-primary-ring);
		border-color: var(--color-primary-ring);
	}
	[type="checkbox"]:focus,
	[type="radio"]:focus {
		--tw-ring-color: var(--color-primary-ring);
	}
}
