.toolbar {
	-fx-background-color: #7a0ed9;
	-fx-background-insets: -1 -5 -1 -1;
	-fx-background-radius: 0 0 0 0;
}
.toolbar .button {
	-fx-background-color: #7a0ed9;
}
.menu-label {
	-fx-font-family: 'Visby Round CF Bold';
	-fx-font-size: 16;
	-fx-text-fill: white;
}
.mig-pane {
	-fx-background-color: transparent;
}
.bottom-background {
	-fx-background-color: white;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.12, -1.0, 2.0);
}
.text-button {
	-fx-text-fill: #7a0ed9;
}
.text-button:hover,
.text-button:focused {
	-fx-background-color: lightgray;
}
.outline-button {
	-fx-background-color: transparent;
	-fx-border-color: #7a0ed9;
	-fx-border-radius: 3;
	-fx-text-fill: #7a0ed9;
}
.outline-button:hover,
.outline-button:focused {
	-fx-background-color: lightgray;
}
.contain-button {
	-fx-background-color: #7a0ed9;
	-fx-text-fill: white;
}
.contain-button:hover,
.contain-button:focused {
	-fx-border-color: lightgray;
	-fx-text-fill: lightgray;
}
:invalid {
	-fx-border-color: #EF6E6B;
}
:invalid .floating-text {
	-fx-text-fill: #EF6E6B;
}
.validationLabel {
	-fx-font-family: 'Visby Round CF Demi Bold';
	-fx-font-size: 11;
	-fx-text-fill: #EF6E6B;
}